[Unit]
Description=Mount unit for google-cloud-sdk, revision 68
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/google-cloud-sdk_68.snap
Where=/snap/google-cloud-sdk/68
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
